{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<section class="py-5 container">
    <h1>Mentions Légales</h1>
    <p>Bienvenue sur la page des mentions légales de Paysages Submergés.</p>
    <p>Pour l’instant, cette page est en construction… mais promis, pas par des poissons-clowns.</p>
</section>
{% endblock %}
