
# --- Envs / secrets
.env.local
.env.*.local
/.env.local.php
/config/secrets/*/*decrypt.private.php

# --- Dossiers générés
/var/
/vendor/
/public/build/
/public/bundles/
/public/assets/         
# /assets/vendor/       
                        

# --- Node / Encore
/node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
/.cache/

# --- Tests
.phpunit.result.cache
/phpunit.xml            
# phpunit.xml.dist      

# --- Bases SQLite éventuelles
/*.sqlite
/*.sqlite3

# --- Uploads utilisateurs
/public/uploads/*
!public/uploads/.gitkeep

# --- Coverage
coverage/

# --- IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# --- Outils
.php-cs-fixer.cache

# --- Temp
*.swp
*.swo
*~



