{# Existant #}
{% extends 'base.html.twig' %}

{% block title %}Toutes les espèces{% endblock %}

{% block body_class %}espece-list-page-body{% endblock %}

{% block body %}
<div class="espece-list-page">
    <h1 class="page-title">Liste des espèces</h1>

    {% if especes is empty %}
        <p class="no-espece">Aucune espèce trouvée.</p>
    {% else %}
        <ul class="espece-list">
            {% for espece in especes %}
                <li>
                    <a href="{{ path('app_espece_show', { id: espece.id }) }}">
                        {{ espece.nomCommun|default('Nom inconnu') }}
                        {% if espece.nomScientifique %}
                            (<em>{{ espece.nomScientifique }}</em>)
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
