<form method="post" action="{{ path('app_maladie_poisson_delete', {'id': maladie_poisson.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maladie_poisson.id) }}">
    <button class="btn">Delete</button>
</form>
