parameters:
    plantes_upload_dir: '%kernel.project_dir%/public/uploads/plantes'

services:
    App\Twig\HumanDateExtension: ~
    App\Twig\RandomExtension: ~

    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
